/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Blog Section
   f. Subscription Section
   g. Books Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
:root {
   --primary-color: #08686e;
   --secondary-color: #cde0e2;
   --font-color: #fff;
   --secondary-font-color: #838C95;
   --link-color: #08356e;
   --highlight-color: #6e0e08;
   --error-color: #6e0e08;
   --success-color: #086e41;
   --warning-color: #686e08;
}

body { 
   background: var(--primary-color);
   font: 'opensans-bold', sans-serif;
 }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif; 
   color: var(--font-color);
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
}
header .banner-text h2 {
   font-size: 18px/1.1em;
   color: var(--font-color);
   margin: 0 auto;
   width: 70%;
}
header .banner-text h2 span,
header .banner-text h2 a {
   color: var(--font-color);
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: var(--primary-color);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 42px;
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: var(--font-color); }
header .social li a:hover { color: var(--highlight-color); }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: var(--font-color);
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: var(--font-color);
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: var(--highlight-color); }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   top: 0;
   left: 0;
}
.opaque { background-color: var(--primary-color); }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: var(--font-color);

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:hover, a:focus { color: var(--highlight-color); }
ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: var(--highlight-color); }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: var(--primary-color);
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

.particles-bg-canvas-self{
   background: var(--primary-color);
   color: #333;
 }

#about a, #about a:visited  { color: var(--font-color); }
#about a:hover, #about a:focus { color: var(--highlight-color); }

#about h2 {
   font-size: 22px/30px;
   color: var(--font-color);
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: var(--font-color);
}
#about .profile-pic {
   position: relative;
   width: 240px;
}
#about .contact-details { 
   width: 48.33333%;
   padding-top: 6px;
}
#about .download {
   width: 48.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }

#about .contact-details .button {
   margin-top: 6px;
   background: var(--link-color);
   border-radius: 10px;
}
#about .contact-details .button:hover {
	background: var(--highlight-color);
	color: var(--font-color);
}
#about .contact-details .button i {
   margin-right: 15px;
   font-size: 20px;
}

#about .button {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:var(--font-color);
   background: var(--link-color);
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 10px;
}
#about .button:hover {
	background: var(--highlight-color);
	color: var(--font-color);
}



/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
   background: var(--secondary-color);
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume h1 {
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: var(--primary-color);
}
#resume h1 span {
   padding-bottom: 6px;
}
#resume h2 {
   font-size: 25px/30px;
   color:var(--primary-color);
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

.education, .work, .skills {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}

#resume .date {
   font-size: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

/* ------------------------------------------------------------------ */
/* e. Blog Section
/* ------------------------------------------------------------------ */

#blog {
   background:var(--secondary-color);
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
   color:var(--secondary-font-color);
}

#blog.component {
   background:var(--primary-color);
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
   color:var(--font-color);
}

#nav-wrap{
   background:var(--primary-color);
}

#blog h2 {
   color:var(--primary-color);
}
#blog.component h2 {
   color:var(--font-color);
}
#blog h1 {
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color:var(--font-color);
}
#blog h1 span {
   padding-bottom: 6px;
}

#blog h3 a{
   font-size: 25px/30px;
   color:var(--primary-color);
}

#blog.component h3 a{
   font-size: 25px/30px;
   color:var(--font-color);
}

#blog h3:hover a{
   cursor: pointer;
   color: var(--highlight-color);
}

#blog .header-col { padding-top: 9px; }
#blog .main-col { padding-right: 10%; }


/* Blog Content */
#blog-wrapper .columns { margin-bottom: 36px; }
.blog-item .item-wrap {
   background: var(--font-color);
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.blog-item .item-wrap a {
   display: block;
   cursor: pointer;
}

.blog-post{
   padding:10px 10%;
}

/* overlay */
.blog-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: black;
}
.blog-item .item-wrap .link-icon {
   display: block;
   color: var(--font-color);
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}
.blog-item .item-wrap img {
   vertical-align: bottom;
}
.blog-item .blog-item-meta { padding: 18px }
.blog-item .blog-item-meta h5 {
   font-size: 14px/21px;
   color: var(--font-color);
}
.blog-item .blog-item-meta p {
   font-size: 12px/18px 'opensans-light', sans-serif;
   color: var(--font-color);
   margin-bottom: 0;
}

/* on hover */
.blog-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.blog-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

.row.post:not(:last-child){
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid var(--primary-color);
}

.component .row.post:not(:last-child){
   border-bottom: 1px solid var(--secondary-font-color);
}


/* ------------------------------------------------------------------ */
/* f. Subscription Section
/* ------------------------------------------------------------------ */

#subscription {
   background:var(--secondary-color);
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
   color:var(--secondary-font-color);
}

#subscription.component {
   background:var(--primary-color);
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
   color:var(--font-color);
}

#subscription h2 {
   color:var(--primary-color);
}

#subscription .header-col { padding-top: 9px; }
#subscription .main-col { 
   padding-right: 10%;
   padding-left: 10%; 
}

/* subscription form */
#subscription form { margin-bottom: 30px; }
#subscription label {
   font-size: 15px/24px;
   margin: 12px 0;
   color: var(--font-color);
	display: inline-block;
   width: 26%;
}

#subscription input,
#subscription textarea,
#subscription select {
   padding: 10px 20px;
	color: var(--primary-color);
	background: var(--font-color);
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 100%;
   margin: 21px auto;
}
#subscription input:focus,
#subscription textarea:focus,
#subscription select:focus {
	color: var(--font-color);
	background-color: var(--link-color);
}
#subscription button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:var(--font-color);
   background: var(--link-color);
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 10px;
}
#subscription button.submit:hover {
	background: var(--highlight-color);
	color: var(--font-color);
}
#subscription span.required {
	color: var(--link-color);
	font-size: 13px;
}

/* ------------------------------------------------------------------ */
/* g. Books Section
/* ------------------------------------------------------------------ */

#books {
   background: var(--secondary-color);
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#books h2 {
   color:var(--primary-color);
}

#books h1 {
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color:var(--primary-color);
}
#books h1 span {
   padding-bottom: 6px;
}
#books h3 {
   font-size: 25px/30px;
   color:var(--primary-color);
}
#books h3:hover {
   cursor: pointer;
   color: var(--highlight-color);
}

#books .header-col { padding-top: 9px; }
#books .main-col { padding-right: 10%; }

.currentlyReading, .recommended, .localStore{
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
/* books Content */
#books-wrapper .columns { margin-bottom: 36px; }
.books-item .item-wrap {
   background: var(--font-color);
   overflow: hidden;
   position: relative;

   -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.books-item .item-wrap a {
   display: block;
   cursor: pointer;
}

/* overlay */
.books-item .item-wrap .overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   background: black;
}
.books-item .item-wrap .link-icon {
   display: block;
   color: var(--font-color);
   height: 30px;
   width: 30px;
   font-size: 18px;
   line-height: 30px;
   text-align: center;

   opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

   -webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}
.books-item .item-wrap img {
   vertical-align: bottom;
}
.books-item .books-item-meta { padding: 18px }
.books-item .books-item-meta h5 {
   font-size: 14px/21px;
   color: var(--font-color);
}
.books-item .books-item-meta p {
   font: 12px/18px 'opensans-light', sans-serif;
   color: var(--font-color);
   margin-bottom: 0;
}

/* on hover */
.books-item:hover .overlay {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}
.books-item:hover .link-icon {
   opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100)
}

/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */

#contact {
   background: var(--primary-color);
   padding-top: 96px;
   padding-bottom: 102px;
   color: var(--primary-color);
}
#contact .section-head { margin-bottom: 42px; }

#contact a, #contact a:visited  { color: var(--link-color); }
#contact a:hover, #contact a:focus { color: var(--font-color); }

#contact h1 {
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: var(--font-color);
   margin-bottom: 6px;
}
#contact h1 span { display: none; }
#contact h1:before {
   font-family: 'FontAwesome';
   content: "\f0e0";
	padding-right: 10px;
	font-size: 72px;
   line-height: 72px;
   text-align: left;
   float: left;
   color: var(--font-color);
}

#contact h4 {
   font-size: 16px/24px;
   color: var(--font-color);
   margin-bottom: 6px;
}
#contact p.lead {
   font: 18px/36px 'opensans-light', sans-serif;
   padding-right: 3%;
}
#contact .header-col { padding-top: 6px; }


/* contact form */
#contact form { margin-bottom: 30px; }
#contact label {
   font-size: 15px/24px;
   margin: 12px 0;
   color: var(--primary-color);
	display: inline-block;
   width: 26%;
}
#contact h2 {
   color:var(--font-color);
}
#contact input,
#contact textarea,
#contact select {
   padding: 10px 20px;
	color: var(--primary-color);
	background: var(--font-color);
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 100%;
   margin: 21px auto;
}
#contact input:focus,
#contact textarea:focus,
#contact select:focus {
	color: var(--font-color);
	background-color: var(--link-color);
}
#contact button.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:var(--font-color);
   background: var(--link-color);
	border: none;
   cursor: pointer;
   height: auto;
   display: inline-block;
	border-radius: 10px;
}
#contact button.submit:hover {
	background: var(--highlight-color);
	color: var(--font-color);
}
#contact span.required {
	color: var(--error-color);
	font-size: 13px;
}
#message-warning, #message-success {
   display: none;
	background: var(--secondary-color);
	padding: 24px 24px;
	margin-bottom: 36px;
   width: 65%;
}
#message-warning { color: var(--error-color); }
#message-success { color: var(--success-color); }

#message-warning i,
#message-success i {
   margin-right: 10px;
}
#image-loader {
   display: none;
   position: relative;
   left: 18px;
   top: 17px;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   margin-bottom: 15px;
   color: var(--font-color);
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: var(--font-color); }
footer a:hover, footer a:focus { color: var(--highlight-color); }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: var(--primary-color);
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: var(--highlight-color);
}

footer .social-links li:first-child { margin-left: 0; }

.social .btn:first-child{
   margin-right: 30px;
}
.social .btn{
   padding-left: 30px;
   padding-right: 30px; 
}
.social .btn i{
   margin-right: 15px;
}